@import "../../../node_modules/noty/lib/noty.css";
@import "../../../node_modules/noty/lib/themes/mint.css";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  background: white;
}

#app {
  width: 100%;
  height: 100%;
}