$buttonColor: rgb(0, 171, 108);

.inlineTooltip {
  &.is-scaled {
    width: auto !important; // make room for the extra button
  }
}

.#{$namespace}-app {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  iframe {
    width: 80%;
    height: 80%;
    max-width: 900px;
  }

  &.#{$namespace}-hide {
    display: none;
  }
}

.#{$namespace}-button {
  transform: scale(1) rotate(90deg) !important;
  
  border-color: $buttonColor !important;
  path {
    fill: $buttonColor !important;
  }
}

html.#{$namespace}-app-open {
  overflow: hidden;
}